/*.navbar-logo{

	width: 130px;

	height: 50px;

}*/
/*mobile caino responsive in mobile mode*/
@media (max-width: 757px){
  .navbar-brand>img{
    height: 45px;
  }
}

.dropdown-backdrop{ 

    position: static; 

}

.text-tesda{

	font-size: 120%;

}

.text-nils{

	font-size: 120%;

}

.about-text{

	font-size: 200%;

}

.incharge{

	font-size: 200%;

	margin-top: 20px;

}

.mail{

	font-size: 200%;

	margin-top: 20px;

}

.call{

	font-size: 200%;

	margin-top: 20px;

}

.incharge-content{

	font-size: 150%;

}

.mail-content{

	font-size: 150%;

}

.call-content{

	font-size: 150%;

}

.feature-t{

	height: 100px;

}

.btn {

    margin-right: 0.5rem !important

}



.btn {

    font-size: 3.5rem;

    line-height: 1;

    font-weight: 400;

    padding: .7rem 1.5rem;

    border-radius: 0.1275rem

    background-color: #29ca8e;

}



.container-bounce {

    margin-top: 100px

}



.toast {

    transition: 0.32s all ease-in-out

}



.toast-container--fade {

    right: 0;

    bottom: 0

}



.toast-container--fade .toast-wrapper {

    display: inline-block

}



.toast.fade-init {

    opacity: 0

}



.toast.fade-show {

    opacity: 1

}



.toast.fade-hide {

    opacity: 0

}

.courses{

	background-image: url("../images/nilslogoop.png");

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-position: center;

}

.bg-color{

	background-color: #FAFEFA;

}

.circle{

	width: 100px;

	height: 100px;

	line-height: 100px;

	border-radius: 50%;

	font-size: 20px;

	color: #fff;

	text-align: center;

	background: #000;

}

.cust-voice{

	font-size: 30px;

}



/*sticky ct-social*/

.ct-socials {

    position: fixed;

    top: 25%;

    right: 0;

    list-style: none;

    padding-left: 0;

    z-index: 10;

    margin: 0;

    -webkit-transition: right 0.25s ease-in-out;

    transition: right 0.25s ease-in-out;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;

}

.ct-socials li {

    padding: 0px 0;

    margin-top: 10px;

}

.ct-socials li a {

    /*background: white;*/

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    color: #fff;

    width: 200px;

    height: 54px;

    -webkit-transition: all 0.15s ease-in-out;

    transition: all 0.15s ease-in-out;

    float: right;

    padding-left: 5px;

}

.ct-socials li a:hover {

    width: 54px;

    padding-left: 0;

    text-decoration: none;

    background: #3c9bd9;

}

.close {

  cursor: pointer;

  position: absolute;

  margin-top: 7px;

  margin-left: 170px;

  padding: 10px 14px;

  transform: translate(0%, -50%);

}



/*.close:hover {background: #bbb;}*/

/*Alerts*/

.alert {

    padding: 15px;

    margin-bottom: 20px;

    border: 1px solid transparent;

    border-radius: 4px;

    text-align: center;

}

.alert-success{ 

    color: #3c763d;

    background-color: #dff0d8;

    border-color: #d6e9c6;

}

.alert-danger {

    color: #a94442;

    background-color: #f2dede;

    border-color: #ebccd1;

}

.vid_home{

    margin: 0 auto;

    border: 5px inset #29ca8e;

}

/*VIDEO CAROUSEL*/

.row-eq-height {

 

}

.no-gutter > [class*='col-'] {

    padding-right:0;

    padding-left:0;

}

.carouselCont {

  background:#fff;

}

.infoCont {

  padding:30px 30px !important;

  position:relative;

}

.infoCont h1 {

  font-size:1.5em;

}

.infoCont p {

  font-size:0.75em;

  line-height:1.2;

}

.video-container {

    position:relative;

    padding-bottom:56.25%;

    padding-top:30px;

    height:0;

    overflow:hidden;

}



.video-container iframe, .video-container object, .video-container embed {

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

}



.mb80 {

  margin: 0 0 5em 0;

}

.ctrls {



  position:relative;

  bottom: 350px;

  background:#ececec;

  display:block;

}

.ctrls{

  color:#000;

  font-size:2em;

}

.fa-caret-left{

    color: #000;

    font-size: 5em;

}

.fa-caret-right{

    color: #000;

    font-size: 5em;

}

.ctrls .carousel-control.left {

  left:0px;

}

.carousel-control {

  

  

}

.video-bord{

    border: 5px ridge #29ca8e;

}

.playpause {

    background-image:url("../images/playpause.png");

    background-repeat:no-repeat;

    width: 20%;

    height:20%;

    position:absolute;

    left:0%;

    right:0%;

    top:0%;

    bottom:0%;

    margin:auto;

    background-size:contain;

    background-position: center;

    cursor: pointer;

}

/*NAV DOTS*/

.nav-dots {

    width: 100%;

    bottom: 9px;

    height: 11px;

    display: block;

/*    position: absolute;*/

    text-align: center;

/*    margin-right: 10px;*/

}



.nav-dots .nav-dot {

    top: -5px;

    width: 11px;

    height: 11px;

    margin: 0 4px;

    position: relative;

    border-radius: 100%;

    display: inline-block;

    background-color: rgba(0, 0, 0, 0.6);

}



.nav-dots .nav-dot:hover {

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.8);

}



video#img-1:checked ~ .nav-dots label#img-dot-1,

video#img-2:checked ~ .nav-dots label#img-dot-2,

video#img-3:checked ~ .nav-dots label#img-dot-3,

video#img-4:checked ~ .nav-dots label#img-dot-4,

video#img-5:checked ~ .nav-dots label#img-dot-5,

video#img-6:checked ~ .nav-dots label#img-dot-6 {

    background: rgba(0, 0, 0, 0.8);

}

/*testing*/

/*.video-selected {

  width: 100%;

  max-width: 640px;

  margin: 0 auto;

  }

        

.video-iframe {

  position: relative;

  padding-bottom: 56.25%;

  padding-top: 30px;

  height: 0;

  margin-bottom: 10px;

}

        

.video-iframe iframe {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}

        

.video-thumbnails {

  margin: 0 auto;

  padding: 0;

  width: 100%;

}



.video-thumb {

  min-height: 200px;

  height: auto;

}



.video-thumb img {

  background-color: #d8d9da;

  width: 100%;

  height: 100px;

}



.video-thumb iframe {

  display: none;

}



.video-thumb,

.video-selected {

  padding: 5px;

}



.video-thumb p {

  margin: 0;

  font-size: 12px;

}



.video-thumb p.name {

  margin-top: 5px;

  font-weight: bold;

}



.active {

  box-shadow: 0 0 2px #898989;

}

.container-1 {

  max-width: 640px;

  margin: 0 auto;

}*/

/* The Image Box */

div.img-teach {

    border: 1px solid #ccc;

}



div.img-teach:hover {

    border: 1px solid #777;

}



/* The Image */

div.img-teach img {

    width: 100%;

    /*height: auto;*/

    height: 350px;

    cursor: pointer;

}



/* Description of Image */

div.desc {

/*    padding: 15px;*/

    text-align: justify;

}

div.desc1 {

  padding: 5px;

  text-align: justify;

}

.hr-design{

  margin-top: 5px;

  margin-bottom: 5px;

}



* {

    box-sizing: border-box;

}



/* Add Responsiveness */

.responsive {

    padding: 0 6px;

    float: left;

    width: 280px;

    margin-top: 10px;

    height: 568px;



}



/* The Modal (background) */

.modal-1 {

    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 1; /* Sit on top */

    padding-top: 150px; /* Location of the box */

    left: 0;

    top: 0;

    width: 100%; /* Full width */

    height: 100%; /* Full height */

    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

}







/* Modal Content (image) */

.modal-content-1 {

    margin: auto;

    display: block;

    width: 80%;

    max-width: 700px;

}





/* Caption of Modal Image */

#caption {

    margin: auto;

    display: block;

    width: 80%;

    max-width: 700px;

    text-align: center;

    color: #ccc;

    padding: 10px 0;

    height: 150px;

}

/*

#caption1 {

    margin: auto;

    display: block;

    width: 80%;

    max-width: 700px;

    text-align: center;

    color: #ccc;

    padding: 10px 0;

    height: 150px;

}*/







/* Add Animation */

.modal-content, #caption {    

    -webkit-animation-name: zoom;

    -webkit-animation-duration: 0.6s;

    animation-name: zoom;

    animation-duration: 0.6s;

}





@-webkit-keyframes zoom {

    from {transform:scale(0)} 

    to {transform:scale(1)}

}



@keyframes zoom {

    from {transform:scale(0.1)} 

    to {transform:scale(1)}

}



/* The Close Button */

.close-1 {

    /*position: relative;*/

    top: 15px;

    right: 35px;

    color: #f1f1f1;

    font-size: 40px;

    font-weight: bold;

    transition: 0.3s;

}





.close-1:hover,

.close-1:focus {

    color: #bbb;

    text-decoration: none;

    cursor: pointer;

}

.callan-title{

  text-align: center;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 70px;

  color: #FFA500;

}

.callan-text{

  font-size: 17px;

  text-indent: 70px;

  text-align: justify;

}

.callan-text-second{

  font-size: 17px;

  text-align: justify;

}

.parallax-callan-upper{

  background-image: url("../images/callan-book.jpg");



  /* Set a specific height */

  min-height: 400px; 



  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

/*  opacity: 0.5;*/

}

.parallax-speaking-upper{

  background-image: url("../images/IMG_1760.jpg");



  /* Set a specific height */

  min-height: 400px; 



  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.8;

}

.parallax-pronunciation-upper{

  background-image: url("../images/IMG_6335.JPG");



  /* Set a specific height */

  min-height: 400px; 



  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.8;

}

.parallax-freetalking-upper{

  background-image: url("../images/IMG_5350.jpg");



  /* Set a specific height */

  min-height: 400px; 



  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.8;

}

.parallax-callan{

  background-image: url("../images/callan-book1.jpg");



  /* Set a specific height */

  min-height: 200px; 



  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

/*  margin-top: 5px;*/

  opacity: 0.5;

}

/*.bar {

  height: 4em;

  padding-top: 2em;

  opacity: 0.5;

  background: black;

  border-top: 3px solid #ccc;

  border-bottom: 3px solid #ccc;

  margin-top: 5.0em;

}*/

.smol{

  font-size: 35px;

}

.callan-subtitle{

  text-align: center;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 40px;

  color: #FFA500;

}

.fa-check-circle-o{

  color: #FFA500;

  vertical-align: middle;

  margin-right: 5px;

}

.fa-check-square-o{

  color: #FFA500;

  vertical-align: middle;

  margin-right: 5px;

}

.modal-text{

  text-align: left;

}

.modal-note{

  color: red;

}

.teacher-center{

  text-align: center;

}

.more {

  display: none;

}

.myBtn{

  color: blue;

}





/*testing*/





